body{
   background-color:#DDE1E3;
   font-size: 15px;
   margin:0;
}
.title{
  font-size: 30px;
  padding :10px 10px;
  float: left;
}
.header1{
  background-color:#6b6b6b;
  height: 64.8px;
}
.header-list{
  background-color: #1c1c1c;
  width: auto;
  height: 40px
}
.header-list li{
  padding :0px 20px;
  list-style: none;
  float: left;
}
.search{
  float: right;
  padding: 19.4px 20px;
}
.clear_box{
  clear:  both;
}
main{
  width: auto;
  float: left;
}
sub{
  width: : 400px;
  float: left;
}

p{
  margin: 10px;
}
